<h3>Developer for <a href="https://www.engineering.unsw.edu.au/computer-science-engineering/about-us/achievements/robocup" style="color : cornflowerblue">UNSW Australia</a> Robocup SPL Team</h3>

<p>
  I am currently on the UNSW Australia Robocup team. Robocup Standard Platform League (SPL) is an international competition in the development of
  robots which are capable of autonomously playing soccer. UNSW fields a team consisted of undergraduate and postgraduate students.
  <br><br>
  I primarily work on the vision system.
  In 2016, I developed an automated colour classification system for the purpose of identifying green and white elements of the field.
  The system was written in C++. Development process included the use of libraries including <a href="http://opencv.org/">OpenCV</a> and <a href="http://eigen.tuxfamily.org">Eigen</a>.
</p>
