<content>
  <h1>My Portfolio</h1>
  <div *ngIf="selected; else portfolio_index">
    <portfolio-barnet *ngIf="selected === 'barnet'"></portfolio-barnet>
    <portfolio-robocup *ngIf="selected ==='robocup'"></portfolio-robocup>
    <portfolio-wit *ngIf="selected === 'wit'"></portfolio-wit>
    <portfolio-beta *ngIf="selected === 'beta'"></portfolio-beta>
    <a (click)="unselect()">return;</a>
  </div>
  <ng-template #portfolio_index>
    Present:
    <p>
      <a (click)="select('barnet')">Software Engineer at Barnet Australia</a>
      <br/>
      <a (click)="select('robocup')">Developer for UNSW Australia Robocup SPL Team</a>
      <br/>
      <a (click)="select('wit')">Writer for UNSW Women in Technology</a>
      <br/>
      <a (click)="select('beta')">Writer for CSESoc Beta Magazine</a>
      <br/>
    </p>
    Projects:
    <p>
      <a (click)="select('roomview')">(Unofficial) Empty Room finder for UNSW</a>
    </p>
    Past:
    <p>
      —
    </p>
  </ng-template>
</content>
