<h3>Developer at <a href="https://barnet.com.au/" style="color : cornflowerblue">BarNet Australia</a></h3>
<p>
  I am a Full Stack Web Developer for BarNet. Technologies used include Play! for Scala, Angular, and MongoDB.
  <br> <br>
  BarNet is a specialist communications management company providing services to barristers and associated professionals. Our mission is to provide a compelling range of high quality data and voice communications and electronic research products and services.
  <br> <br>
  BarNet is also responsible for the development and maintenance of JADE (Judgments and Decisions Enhanced), a current awareness service that collects recent decisions of selected Australian Courts and Tribunals into an enhanced database.
</p>
